.shanab{ position: absolute; left:200px; width:180px; height: 180px; color:black;  border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ;
box-shadow: 150px 240px 0px 0px currentColor,300px 240px 0px 0px currentColor;

}
.shanab::before{ position: absolute; content:""; width:210px; height: 120px; border-bottom: 180px solid currentColor; border-radius:0px 0px 0px 100% ; -webkit-border-radius:0px 0px 0px 100% ; -moz-border-radius:0px 0px 0px 100% ; -ms-border-radius:0px 0px 0px 100% ; -o-border-radius:0px 0px 0px 100% ; left:30px; top:120px; transform:rotate(-40deg) ; -webkit-transform:rotate(-40deg) ; -moz-transform:rotate(-40deg) ; -ms-transform:rotate(-40deg) ; -o-transform:rotate(-40deg) ;
    transform-origin: right 210px;
}

.shanab::after{ position: absolute; content:""; width:210px; height: 120px; border-bottom: 180px solid currentColor; border-radius:0px 0px 100% 0px ; -webkit-border-radius:0px 0px 100% 0px ; -moz-border-radius:0px 0px 100% 0px ; -ms-border-radius:0px 0px 100% 0px ; -o-border-radius:0px 0px 100% 0px ; left:390px; top:120px; transform:rotate(40deg) ; -webkit-transform:rotate(40deg) ; -moz-transform:rotate(40deg) ; -ms-transform:rotate(40deg) ; -o-transform:rotate(40deg) ; transform-origin: left 210px;
}

.shanab::before{ animation: dance-left 1s ease-in-out infinite; -webkit-animation: dance-left 1s ease-in-out infinite;
}
.shanab::after{ animation:dance-right 1s ease-in-out infinite; -webkit-animation:dance-right 1s ease-in-out infinite;
}
@keyframes dance-left{

0%{
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
}
50%{
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}

100%{ transform: rotate(-50deg); -webkit-transform: rotate(-50deg); -moz-transform: rotate(-50deg); -ms-transform: rotate(-50deg); -o-transform: rotate(-50deg);
}
}

@keyframes dance-right{

    0%{
        transform: rotate(50deg);
        -webkit-transform: rotate(50deg);
        -moz-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        -o-transform: rotate(50deg);
}
    50%{
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
}
    
    100%{ transform: rotate(50deg); -webkit-transform: rotate(50deg); -moz-transform: rotate(50deg); -ms-transform: rotate(50deg); -o-transform: rotate(50deg);
}
    }